@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --btn-green: #78BC45;
    --btn-green-hover: #549621;
    --btn-blue: #239ED6;
    --btn-blue-hover: #146b94;
    --btn-text: #fff;
    --dark-text: #333;
    --light-text: #fff;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.4em;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #ededed;
}
.container{
    max-width: 1366px;
    width:90%;
    margin:0 auto;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    &.flex-2col > div{
        flex: 0 47%;
    }
    &.flex-reverse{
        flex-direction: row-reverse;
    }
    &.flex-3-4col {
        align-items: center;
        div:first-child{
            flex: 0 63%;
        }
        div:last-child{
            flex: 0 32%
        }
    }
}

.text-center{
    text-align: center;
}
.list-inline{
    display: block;
    li{
        list-style: none;
        display: inline-block;
        padding: 0 12px;
        a{
            color: inherit;
        }
    }
}
footer{
    background-color: #596E75;
    padding: 60px 0;
    color: #fff;
    .logo-footer{
        display: block;
        max-width: 350px;
        margin-left: 0;
    }
    .row{
        padding-bottom: 30px;
        border-bottom: 1px solid #fff;
    }
    .copyright{
        padding-top: 30px;
    }
    .flex-container{
        justify-content: space-between;
        align-items: flex-end;
    }
}