
header{
    background-color: #fff;
    padding: 5px 0;
}

header nav{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav .menu-nav > ul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

nav .menu-nav > ul li{
    list-style: none;
}
nav .menu-nav > ul li a{
    color:var(--dark-text);
    font-weight: 500;
    transition: all 200ms linear;
    font-size: 18px;
}
nav .menu-nav > ul li a:hover{
    color: #239ED6;
}

